<div class="card">
  <p-table #dt
    [value]="tableDataSerivce.getTableData().data"
    [globalFilterFields]="['0','1', '2', '3', '4', '5']"
    [columns]="tableDataSerivce.getTableData().headers"
    class="card"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let item of tableDataSerivce.getTableData().headers">
        {{ item }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td pEditableColumn *ngFor="let item of row; let i = index">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [ngModel]="row[i]" (change)="onValueUpdate($event, row, i)" (keydown.enter)="onValueUpdate($event, row, i)"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{row[i]}}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
